/* generelt */
body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* meny */
.meny {
    width: 100%;
    display: flex;
    gap: 2%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #5ae3fb;
    padding: 1%;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

/* lenker i menyen */
a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #5100ff;
}

/* hovedinnholdet */
.innhold {
    width: 60%;
    margin: 50px auto;
}

/* artikkel-kort på forsiden */
.kort {
    background-color: #565656;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.kort a {
    font-size: 18px;
}

/* knapper */
.knapp {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.knapp:hover {
    background-color: #1500f6;
    color: rgb(255, 255, 255);
}

.knapp-rød {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

/* skjema */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #7a7a7a;
    border-radius: 8px;
    font-size: 16px

}


/* kode søkefelt css */
.sok {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.sok input {
    flex: 1;
}
